@import "src/@fuse/scss/fuse";

#contacts {

    .header {

        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);

            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;

                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .content {
        overflow: hidden;

        .sidebar {

            &:not(.locked-open) {
                background: white;
            }
        }
    }

    .p-24 {
        padding: 50px 100px !important;
    }

    // .app-table-wrapper {
    //     overflow-x: scroll;
    //   }
      
    //   .app-table {
    //     font-size: 8px;
    //   }
      
    //   .mat-cell {
    //     padding: 10px;
    //     border-right: 1px solid lightgrey;
    //     text-align: center;
    //     min-width: 100px;
    //   }
      
    //   .mat-header-cell {
    //     padding: 2px;
    //     border-right: 1px solid lightgrey;
    //     text-align: center;
    //   }

    //   .row-header {
    //     min-width: 200px;
    //   }

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-header-cell {
            border-right: 1px solid lightgrey;
            text-align: center;
        }

        .invoice {
            width: 100px !important;
        }
        
        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;
                border-right: 1px solid lightgrey;
                text-align: center;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }

    .invoice-paid {
        color: #049623;
    }

    .invoice-unpaid {
        color: #ff0000;
    }
    
}
