<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

  <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
      fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
  
      <div fxLayout="row" fxLayoutAlign="start center">
  
          <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm
                  (click)="toggleSidebar('hero-main-sidebar')">
              <mat-icon>menu</mat-icon>
          </button>
  
          <div class="logo" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16"
                      [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">table_chart
              </mat-icon>
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Invoices
              </span>
          </div>
  
      </div>
  
      <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
  
          <div class="search-wrapper mt-16 mt-sm-0">
  
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <!-- <input [formControl]="searchInput" placeholder="Search for a client"> -->
                  <input [formControl]="searchInput" placeholder="search for a client">
              </div>
  
          </div>
  
      </div>
  
  </div>
  
  
  <div class="content">
  
      <div class="center p-24 pb-56" fusePerfectScrollbar>
          <div class="content">
  
              <div class="content-card">
                  <table mat-table [dataSource]="dataSource" id="app-table">
                      <ng-container matColumnDef="client" [sticky]="true">
                          <th mat-header-cell *matHeaderCellDef> Client </th>
                          <td mat-cell *matCellDef="let element">{{ element.client }}</td>
                      </ng-container>
                      <ng-container matColumnDef="startday" [sticky]="true">
                          <th mat-header-cell *matHeaderCellDef class="invoice"> SEM  </th>
                          <td mat-cell *matCellDef="let element" class="invoice">{{ element.startday }}</td>
                      </ng-container>
                      <ng-container matColumnDef="content" [sticky]="true">
                          <th mat-header-cell *matHeaderCellDef class="invoice"> SEO </th>
                          <td mat-cell *matCellDef="let element">{{ element.content }}</td>
                      </ng-container>
                      <ng-container matColumnDef="quantity" [sticky]="true">
                          <th mat-header-cell *matHeaderCellDef class="invoice"> Social Media </th>
                          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                      </ng-container>
                      <ng-container matColumnDef="jan2019" [sticky]="">
                          <th mat-header-cell *matHeaderCellDef class="invoice"> FB </th>
                          <td mat-cell *matCellDef="let element">{{ element.jan2019 }}</td>
                      </ng-container>
                      <ng-container matColumnDef="feb2019" [sticky]="">
                          <th mat-header-cell *matHeaderCellDef class="invoice"> IG </th>
                          <td mat-cell *matCellDef="let element">{{ element.feb2019 }}</td>
                      </ng-container>
                      <ng-container matColumnDef="mar2019" [sticky]="">
                          <th mat-header-cell *matHeaderCellDef class="invoice"> Email </th>
                          <td mat-cell *matCellDef="let element">{{ element.mar2019 }}</td>
                      </ng-container>
                      <ng-container matColumnDef="apr2019" [sticky]="">
                          <th mat-header-cell *matHeaderCellDef class="invoice"> Blog (written) </th>
                          <td mat-cell *matCellDef="let element">{{ element.apr2019 }}</td>
                      </ng-container>
                      <ng-container matColumnDef="may2019" [sticky]="">
                          <th mat-header-cell *matHeaderCellDef class="invoice"> Blog (brief) </th>
                          <td mat-cell *matCellDef="let element">{{ element.may2019 }}</td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
              </div>

              <mat-paginator #paginator
                            [length]="dataSource.filteredData.length"
                            [pageIndex]="0"
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
              
          </div>
      </div>
  
  </div>
  
  </div>
  