#product {

    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 25px 0 0 0;
        }
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

    .status {
        background: #444444ba;
        border-radius: 10px;
        padding: 5px;
        font-size: 12px;
        color: white !important;
    }

    .expiring {
        background: #ff0000;
    }

    .metric-header {
        display: block;
        font-size: 12px;
    }

    .metric-value {
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        display: block;
    }

    .metric-inline-first {
        display: inline-block;
    }

    .metric-inline-next {
        margin: 0 0 0 50px;
        display: inline-block;
    }
    
    .metric-with-bg {
        background-color: #1f2c5bd6;
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: bolder;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        flex: 1 0 auto;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1 0 auto;
        padding: 10px 10px;
        background-color: #fff;
        border-radius: 10px;
        margin: 0 15px;
    }

    .tri-column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 3 0 auto;
        padding: 10px 10px;
        background-color: #fff;
        border-radius: 10px;
        margin: 0 15px;
    }

    .section-title-flex {
        flex: 12 0 auto;
    }

    .header-flex {
        flex: 0;
    }

    .invoice-date {
        text-align: right;
    }
    
    .invoice-currency-logo {
        background-color: #dcd8d8;
        padding: 5px 10px;
        border-radius: 20px;
        margin: 0 10px 0 0px;
        font-weight: bold;
    }

    .invoice-paid {
        color: #049623;
    }

    .invoice-unpaid {
        color: #ff0000;
    }




    // @media (max-width: 1366px) {
    //     .tri-column {
    //         flex: 0 0 auto
    //     }
    
    //     .column {
    //         flex: 3 0 auto
    //     }
    // }
}