<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/client/list'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div> -->

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{client.client}}
                        <span class="status" *ngIf="clientlife > 0">Active</span>
                        <span class="status expiring" *ngIf="clientlife <= 30">Expiring soon</span>
                    </div>
                    <div class="subtitle secondary-text">
                        <div class="metric-inline-first">
                            <span class="metric-header">Start Date</span>
                            <span class="metric-value">{{ client.startdate }}</span>
                        </div>
                        <div class="metric-inline-next">
                            <span class="metric-header">End Date</span>
                            <!-- <span class="metric-value">{{ client.enddate }}</span> -->
                            <span class="metric-value">{{ client.enddate }}</span>
                        </div>
                        <div class="metric-inline-next">
                            <span class="metric-header">Current MRR</span>
                            <span class="metric-value">{{ this.invoices[(this.invoices).length - 1].SubTotal | currency:'USD' }}</span>
                        </div>
                        <div class="metric-inline-next">
                            <span class="metric-header">Life Time Value</span>
                            <span class="metric-value">{{ lifetimevalue | currency:'USD' }}</span>
                        </div>
                        <div class="metric-inline-next metric-with-bg">
                            <span class="metric-header">Owed Invoices</span>
                            <span class="metric-value">{{ owedinvoices }}</span>
                        </div>
                        <div class="metric-inline-next metric-with-bg">
                            <span class="metric-header">Revenue Owed</span>
                            <span class="metric-value">{{ revenueowed | currency:'USD' }}</span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- <button mat-raised-button
                    class="save-product-button"
                    [disabled]="client.invalid"
                    (click)="saveClient()">
                <span>SAVE</span>
            </button> -->
        </div>

        <div class="row">

            <div class="column">
                <div style="text-align: center">
                    <button mat-raised-button color="primary">add a note</button>
                </div>
                        
               <p>Notes :</p>
            </div>

            <div class="tri-column">
                <!-- <form name="productForm" [formGroup]="clientForm" class="product w-100-p" fxFlex>

                </form> -->
                <div class="row header-flex">
                    <div class="tri-column section-title-flex">
                        Timeline
                    </div>

                    <div class="column">
                        <mat-select [(ngModel)]="inv_fil_val" placeholder="Filter Invoices">
                            <mat-option [value]="1">
                                Everything 
                            </mat-option>
                            <mat-option [value]="2">
                                First Week
                            </mat-option>
                        </mat-select>
                    </div>
                </div>

                <div class="row header-flex" *ngFor="let invoice of invoices;">
                    <div class="tri-column section-title-flex">
                        <div *ngIf="invoice.Payments.length > 0">
                            <span class="invoice-currency-logo invoice-paid">$</span>
                            <span class="invoice-paid">PAID Invoice {{ invoice.InvoiceNumber }}</span>
                        </div>
                        <div *ngIf="invoice.Payments.length === 0">
                            <span class="invoice-currency-logo invoice-unpaid">$</span>
                            <span class="invoice-unpaid">Invoice {{ invoice.InvoiceNumber }} &mdash; </span>
                            <span class="invoice-unpaid" *ngFor="let item of invoice.LineItems"> 
                                <span *ngIf="item.LineAmount">{{ item.Description }} {{ item.LineAmount }}</span>
                                <br />
                            </span>
                        </div>
                    </div>

                    <div class="column invoice-date">
                        {{ invoice.DueDateString }}
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>
