<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <!-- <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"
                 [alt]="contact.name"/> -->
            <div class="contact-name mt-8">{{hero.user.first_name}} {{hero.user.last_name}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="heroForm">
            <div formGroupName="user">
                <div *ngIf="action !== 'edit'" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Username</mat-label>
                        <mat-icon matSuffix class="secondary-text">perm_identity</mat-icon>
                        <input name="username" formControlName="username" matInput type="username">
                    </mat-form-field>
                </div>

                <div *ngIf="action !== 'edit'" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Email</mat-label>
                        <mat-icon matSuffix class="secondary-text">email</mat-icon>
                        <input name="email" formControlName="email" matInput type="email">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>First Name</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <input name="first_name" formControlName="first_name" matInput required>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Last Name</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <input name="last_name" formControlName="last_name" matInput>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                
                <!-- <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Role</mat-label>
                    <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                    <input name="role" formControlName="role" matInput>
                </mat-form-field> -->
                
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Role</mat-label>
                    <mat-select name="role" formControlName="role" placeholder="Role" required>
                        <mat-option *ngFor="let role of roles" [value]="role.id">
                          {{role.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="department" (ngModel)="selectedDept" (selectionChange)="onChangedDept($event)" required>
                        <mat-option *ngFor="let department of departments" [value]="department.id">
                          {{department.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Designation</mat-label>
                    <mat-select formControlName="designation" required>
                        <mat-option *ngFor="let designation of designations" [value]="designation.id">
                          {{designation.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div>

            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Birthday</mat-label>
                    <input matInput [matDatepicker]="birthdayDatePicker" name="birthday" formControlName="birthday">
                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayDatePicker></mat-datepicker>
                </mat-form-field>
            </div> -->

            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Address</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="address" formControlName="address" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Notes</mat-label>
                    <textarea name="notes" formControlName="notes" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div> -->

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',heroForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(heroForm)"
                [disabled]="heroForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',heroForm])"
                [disabled]="heroForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
