<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

<div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
    fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm
                (click)="toggleSidebar('hero-main-sidebar')">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16"
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">book
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Client Contents
            </span>
        </div>

    </div>

    <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

        <div class="search-wrapper mt-16 mt-sm-0">

            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>search</mat-icon>
                <!-- <input [formControl]="searchInput" placeholder="Search for a client"> -->
                <input [formControl]="searchInput" placeholder="search for a client">
            </div>

        </div>

    </div>

</div>


<div class="content">

    <div class="center p-24 pb-56" fusePerfectScrollbar>
        <div class="content">

            <div class="app-table-wrapper">
                <table mat-table [dataSource]="dataSource" id="app-table">
                    <ng-container matColumnDef="client" [sticky]="true">
                        <th mat-header-cell *matHeaderCellDef class="row-header"> Client </th>
                        <td mat-cell *matCellDef="let element">{{ element.client }}</td>
                    </ng-container>
                    <ng-container matColumnDef="startday" [sticky]="true">
                        <th mat-header-cell *matHeaderCellDef class="row-header"> Start Day  </th>
                        <td mat-cell *matCellDef="let element">{{ element.startday }}</td>
                    </ng-container>
                    <ng-container matColumnDef="content" [sticky]="true">
                        <th mat-header-cell *matHeaderCellDef class="row-header"> Content </th>
                        <td mat-cell *matCellDef="let element">{{ element.content }}</td>
                    </ng-container>
                    <ng-container matColumnDef="quantity" [sticky]="true">
                        <th mat-header-cell *matHeaderCellDef> Quantity </th>
                        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                    </ng-container>
                    <ng-container matColumnDef="jan2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> January 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="feb2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> February 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="mar2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> March 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="apr2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> April 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="may2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> May 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="jun2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> June 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="jul2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> July 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="aug2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> August 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="sep2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> September 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="oct2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> October 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="nov2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> November 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <ng-container matColumnDef="dec2019" [sticky]="">
                        <th mat-header-cell *matHeaderCellDef> December 2019 </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            
        </div>
    </div>

</div>

</div>
