@import "src/@fuse/scss/fuse";

#contacts {

    .header {

        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);

            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;

                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .content {
        overflow: hidden;

        .sidebar {

            &:not(.locked-open) {
                background: white;
            }
        }
    }

    .app-table-wrapper {
        overflow-x: scroll;
      }
      
      .app-table {
        font-size: 8px;
      }
      
      .mat-cell {
        padding: 10px;
        border-right: 1px solid lightgrey;
        text-align: center;
        min-width: 100px;
      }
      
      .mat-header-cell {
        padding: 2px;
        border-right: 1px solid lightgrey;
        text-align: center;
      }

      .row-header {
        min-width: 200px;
      }
}
