#dashboard-project {

    > .sidebar {
        width: 280px;
        min-width: 400px;
        max-width: 400px;
    }

    > .center {

        > .header {
            height: 160px;
            min-height: 160px;
            max-height: 160px;

            .selected-project {
                background: rgba(0, 0, 0, 0.12);
                color: #FFFFFF;
                padding: 8px 16px;
                height: 40px;
                line-height: 24px;
                font-size: 16px;
                border-radius: 8px 0 0 0;
            }

            .project-selector {
                margin-left: 1px;
                background: rgba(0, 0, 0, 0.12);
                border-radius: 0 8px 0 0;

                mat-icon {
                    color: #FFFFFF;
                }
            }
        }

        > .content {
            flex: 1;

            mat-tab-group {
                height: 100%;

                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
    }

    .widget {

        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none;
            }
        }
    }

    .fuse-card {
        min-width: 375px;
        max-width: 375px;
    }

    .py-16 {
        padding: 5px 5px !important;
    }
    
    .live-item-bullet-1 {
        color: green;
        font-size: 20px;
        padding: 10px;
    }

    .live-item-bullet-2 {
        color: red;
        font-size: 20px;
        padding: 10px;
    }

    span.paid {
        color: green;
    }

    a.company-link,
    a.company-link:hover,
    a.company-link:active {
        color: blue;
        list-style: none;
    }

    .notification {
        float: left;
    }
    
    .notif-badge {
        color: #92918e;
        font-weight: 1000;
        float: right;
        float: right;
        margin-top: 5px;
    }

}