<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
        fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    
        <div fxLayout="row" fxLayoutAlign="start center">
    
            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm
                    (click)="toggleSidebar('hero-main-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>
    
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                        [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">book
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    CSM Clients
                </span>
            </div>
    
        </div>
    
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    
            <div class="search-wrapper mt-16 mt-sm-0">
    
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <!-- <input [formControl]="searchInput" placeholder="Search for a client"> -->
                    <input [formControl]="searchInput" placeholder="search for a client">
                </div>
    
            </div>
    
        </div>
    
    </div>
    
    
    <div class="content">
    
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content">
    
                <div class="app-table-wrapper">
                    <table mat-table [dataSource]="dataSource" id="app-table">
                        <ng-container matColumnDef="client" [sticky]="true">
                            <th mat-header-cell *matHeaderCellDef class="row-header"> Client </th>
                            <td mat-cell *matCellDef="let element">{{ element.client }}</td>
                        </ng-container>
                        <ng-container matColumnDef="week1">
                            <th mat-header-cell *matHeaderCellDef> Week 1 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color: rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week2">
                            <th mat-header-cell *matHeaderCellDef> Week 2 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week3">
                            <th mat-header-cell *matHeaderCellDef> Week 3 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week4">
                            <th mat-header-cell *matHeaderCellDef> Week 4 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week5">
                            <th mat-header-cell *matHeaderCellDef> Week 5 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week6">
                            <th mat-header-cell *matHeaderCellDef> Week 6 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week7">
                            <th mat-header-cell *matHeaderCellDef> Week 7 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week8">
                            <th mat-header-cell *matHeaderCellDef> Week 8 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week9">
                            <th mat-header-cell *matHeaderCellDef> Week 9 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week10">
                            <th mat-header-cell *matHeaderCellDef> Week 10 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week11">
                            <th mat-header-cell *matHeaderCellDef> Week 11 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week12">
                            <th mat-header-cell *matHeaderCellDef> Week 12 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week13">
                            <th mat-header-cell *matHeaderCellDef> Week 13 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week14">
                            <th mat-header-cell *matHeaderCellDef> Week 14 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week15">
                            <th mat-header-cell *matHeaderCellDef> Week 15 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week16">
                            <th mat-header-cell *matHeaderCellDef> Week 16 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week17">
                            <th mat-header-cell *matHeaderCellDef> Week 17 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="week18">
                            <th mat-header-cell *matHeaderCellDef> Week 18 </th>
                            <td mat-cell *matCellDef="let element">
                              <!-- <mat-label>Score</mat-label> -->
                              <mat-select>
                                <mat-option style="background-color:  rgb(161, 158, 158); color: #fff;">0</mat-option>
                                <mat-option style="background-color: rgb(255, 4, 4); color: #fff;">1</mat-option>
                                <mat-option style="background-color: rgb(255, 0, 200); color: #fff;">2</mat-option>
                                <mat-option style="background-color: rgb(91, 194, 253); color: #fff;">3</mat-option>
                                <mat-option style="background-color: rgb(255, 203, 136); color: #fff;">4</mat-option>
                                <mat-option style="background-color: rgb(255, 146, 4); color: #fff;">5</mat-option>
                                <mat-option style="background-color: rgb(63, 255, 4); color: #fff;">6</mat-option>
                                <mat-option style="background-color: rgb(160, 132, 6); color: #fff;">7</mat-option>
                              </mat-select>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <mat-paginator #paginator
                            [length]="dataSource.filteredData.length"
                            [pageIndex]="0"
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
                
            </div>
        </div>
    
    </div>
    
    </div>
    