<div id="orders" class="page-layout carded fullwidth inner-scroll">
    <div class="content-card">

<mat-table  #table [dataSource]="dataSource"
            matSort
            [@animateStagger]="{value:'50'}"
            fusePerfectScrollbar>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let hero">
            <mat-checkbox [(ngModel)]="checkboxes[hero.user.user_id]" (ngModelChange)="onSelectedChange(hero.user.user_id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let hero">
            <img class="avatar" src="/assets/images/avatars/profile.jpg"/>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="first_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let hero">
            <p class="text-truncate font-weight-600">{{hero.user.first_name}} {{hero.user.last_name}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Email</mat-header-cell>
        <mat-cell *matCellDef="let hero" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{hero.user.email}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Role</mat-header-cell>
        <mat-cell *matCellDef="let hero" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{hero.role.role}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-lg>Department</mat-header-cell>
        <mat-cell *matCellDef="let hero" fxHide fxShow.gt-lg>
            <p class="company text-truncate">
                {{hero.department.department}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="designation">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-lg>Designation</mat-header-cell>
        <mat-cell *matCellDef="let hero" fxHide fxShow.gt-lg>
            <p class="job-title text-truncate">
                {{hero.designation.designation}}
            </p>
        </mat-cell>
    </ng-container>
    

    <!-- Buttons Column -->
    <!-- <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let hero">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact.id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="user.starred.includes(contact.id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!user.starred.includes(contact.id)">star_border</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteContact(contact)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let hero; columns: displayedColumns;"
             class="hero"
             (click)="editHero(hero)"
             [ngClass]="{'accent-50':checkboxes[hero.user_id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
    
</mat-table>

<mat-paginator #paginator
               [length]="dataSource.filteredData.length"
               [pageIndex]="0"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

    </div>
</div>