<div id="orders" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-sm-0"
               fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  group
              </mat-icon>
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Heroes</span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper  ml-sm-32">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input #filter placeholder="Search hero">
              </div>
          </div>
          <!-- / SEARCH -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="orders-table"
                     #table [dataSource]="dataSource"
                     matSort
                     [@animateStagger]="{value:'50'}"
                     fusePerfectScrollbar>

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                  <mat-cell *matCellDef="let heroes">
                      <p class="text-truncate">{{heroes.id}}</p>
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="is_superuser">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
                <mat-cell *matCellDef="let heroes">
                    <p class="text-truncate">{{heroes.is_superuser}}</p>
                </mat-cell>
             </ng-container>

              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Email</mat-header-cell>
                <mat-cell *matCellDef="let heroes" fxHide fxShow.gt-sm>
                    <p class="text-truncate">{{ heroes.email }}</p>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="first_name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Name</mat-header-cell>
                  <mat-cell *matCellDef="let heroes" fxHide fxShow.gt-sm>
                      <p class="text-truncate">{{ heroes.first_name+' '+heroes.last_name }}</p>
                  </mat-cell>
              </ng-container>

              <!-- <ng-container matColumnDef="department">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Department</mat-header-cell>
                <mat-cell *matCellDef="let heroes" fxHide fxShow.gt-sm>
                    <p class="text-truncate">IT</p>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="designation">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Designation</mat-header-cell>
                <mat-cell *matCellDef="let heroes" fxHide fxShow.gt-sm>
                    <p class="text-truncate">Lead Software Developer</p>
                </mat-cell>
              </ng-container> -->
              
              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let heroes; columns: displayedColumns;"
                       class="heroes"
                       matRipple
                       [routerLink]="'/user/profile/'+heroes.id">
              </mat-row>
          </mat-table>

          <mat-paginator #paginator
                         [length]="dataSource.filteredData.length"
                         [pageIndex]="0"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
