<div id="orders" class="page-layout carded fullwidth inner-scroll">

    <div class="content-card">

        <mat-table class="orders-table"
                    #table [dataSource]="dataSource"
                    matSort
                    [@animateStagger]="{value:'50'}"
                    fusePerfectScrollbar>

            <!-- ID Column -->
            <ng-container matColumnDef="id" [style.display]="'none'">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let client">
                    <p class="text-truncate">{{client.id}}</p>
                </mat-cell>
            </ng-container>

        <ng-container matColumnDef="client">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Client</mat-header-cell>
            <mat-cell *matCellDef="let client">
                <p class="text-truncate">{{client.client}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="services">
            <mat-header-cell *matHeaderCellDef mat-sort-header>services</mat-header-cell>
            <mat-cell *matCellDef="let client">
                <p class="text-truncate" *ngFor="let service of client.services; let first = first; let last = last">{{ service.service.service }} {{ last ? '' : ',' }} </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="contents">
            <mat-header-cell *matHeaderCellDef mat-sort-header>contents</mat-header-cell>
            <mat-cell *matCellDef="let client">
                <p class="text-truncate" *ngFor="let content of client.contents; let first = first; let last = last">{{ content.content.content }} {{ last ? '' : ',' }} </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="kpi">
            <mat-header-cell *matHeaderCellDef mat-sort-header>kpi</mat-header-cell>
            <mat-cell *matCellDef="let client">
                <p class="text-truncate" *ngFor="let row of client.kpi; let first = first; let last = last">{{ row.kpi.kpi }} {{ last ? '' : ',' }} </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="start_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
            <mat-cell *matCellDef="let client">
                <p class="text-truncate">{{ client.start_date | date:'longDate' }}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</mat-header-cell>
            <mat-cell *matCellDef="let client">
                <p class="text-truncate">{{ client.created_at | date:'longDate' }}</p>
            </mat-cell>
        </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let order; columns: displayedColumns;"
                    class="order"
                    matRipple
                    [routerLink]="'/apps/e-commerce/orders/'+order.id">
            </mat-row>
        </mat-table>

        <mat-paginator #paginator
                        [length]="dataSource.filteredData.length"
                        [pageIndex]="0"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>

    </div>
    
</div>