<div class="dialog-content-wrapper" fxFlex>
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <!-- <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"
                 [alt]="contact.name"/> -->
            <div class="contact-name mt-8">{{client.client}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="_client">
            <div  style="display:none">
                <div [formGroup]="_clientdata"><input name="created" [(ngModel)]="createdby" formControlName="created"></div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                    <mat-label>Xero Account ID</mat-label>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <input name="xeroid" formControlName="xero_id" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                    <mat-label>Client Name</mat-label>
                    <mat-icon matSuffix class="secondary-text">company</mat-icon>
                    <input name="client_name" formControlName="client_name" matInput required>
                </mat-form-field>
            </div>

            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Service</mat-label>
                    <mat-select formControlName="services" multiple="true" required>
                        <mat-option *ngFor="let row of service_list" [value]="row.id">
                            {{row.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Content</mat-label>
                    <mat-select formControlName="contents" multiple="true" required>
                        <mat-option *ngFor="let row of content_list" [value]="row.id">
                            {{row.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <div fxLayout="row" fxLayoutAlign="start start">
                
                    <div class="col-md-2" formArrayName="services">
                        <div class="form-group">
                            <label class="label-control">Services</label>
                            <span style="margin-left: 10px">
                            <button  mat-raised-button color="accent" (click)="addService()">add service</button>
                            </span>
                    

                                    <div *ngFor="let row of _client.get('services').controls;let serviceIndex = index" style="margin-top: 10px !important;" [formGroupName]="serviceIndex">

                                    <mat-form-field appearance="outline" style="width: 150px !important; padding-right: 15px !important;">
                                        <mat-label>Service</mat-label>
                                        <mat-select formControlName="service" (ngModel)="_service" (selectionChange)="onChangedServiceType($event)" required>
                                            <mat-option *ngFor="let row of service_list" [value]="row.id">
                                                {{row.label}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex *ngIf="service_type && service_type !== 'sem' ">
                                        <mat-label *ngIf="service_type === 'seo' ">no. of keywords</mat-label>
                                        <mat-label *ngIf="service_type === 'social' ">no. of ads</mat-label>
                                        <input name="posts" formControlName="service_qty" type="number" matInput required>
                                    </mat-form-field>

                                <button mat-mini-fab color="warn" (click)="deleteService(serviceIndex)" style="margin: 10px 10px !important;"><i class="mat-icon">remove</i></button>
                                
                                </div>
                    
                        </div>
                    </div>
                
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                    <mat-label>PM</mat-label>
                    <mat-select formControlName="pm" required>
                        <mat-option *ngFor="let row of pms" [value]="row.id">
                            {{row.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                
                    <div class="col-md-2" formArrayName="contents">
                        <div class="form-group">
                            <label class="label-control">Contents</label>
                            <span style="margin-left: 10px">
                            <button  mat-raised-button color="accent" (click)="addContent()">add content</button>
                            </span>
                    

                                    <div *ngFor="let row of _client.get('contents').controls;let contentIndex = index" style="margin-top: 10px !important;" [formGroupName]="contentIndex">

                                    <mat-form-field appearance="outline" style="width: 150px !important; padding-right: 15px !important;">
                                        <mat-label>Content</mat-label>
                                        <mat-select formControlName="content" required>
                                            <mat-option *ngFor="let row of content_list" [value]="row.id">
                                                {{row.label}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>no. of posts</mat-label>
                                        <input name="posts" formControlName="content_qty" type="number" matInput required>
                                    </mat-form-field>

                                <button mat-mini-fab color="warn" (click)="deleteContent(contentIndex)" style="margin: 10px 10px !important;"><i class="mat-icon">remove</i></button>
                                
                                </div>
                    
                        </div>
                    </div>
                
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                    <mat-label>Content Writer</mat-label>
                    <mat-select formControlName="writer" required>
                        <mat-option *ngFor="let row of writers" [value]="row.id">
                            {{row.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                
                <div class="col-md-2" formArrayName="kpi">
                    <div class="form-group">
                        <label class="label-control">KPI</label>
                        <span style="margin-left: 10px">
                        <button  mat-raised-button color="accent" (click)="addKpi()">add kpi</button>
                        </span>
                

                                <div *ngFor="let row of _client.get('kpi').controls;let kpiIndex = index" style="margin-top: 10px !important;" [formGroupName]="kpiIndex">

                                <mat-form-field appearance="outline" style="width: 150px !important; padding-right: 15px !important;">
                                    <mat-label>Kpi</mat-label>
                                    <mat-select formControlName="kpi" required>
                                        <mat-option *ngFor="let row of kpi" [value]="row.id">
                                            {{row.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            <button mat-mini-fab color="warn" (click)="deleteContent(kpiIndex)" style="margin: 10px 10px !important;"><i class="mat-icon">remove</i></button>
                            
                            </div>
                
                    </div>
                </div>
            
        </div>

            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Duration</mat-label>
                    <mat-select formControlName="duration" required>
                        <mat-option *ngFor="let row of duration" [value]="row.id">
                            {{row.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div> -->
            
        <div fxLayout="row" fxLayoutAlign="start start" >
            <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                <mat-label>Duration (months)</mat-label>
                <input name="duration" [(ngModel)]="_duration" formControlName="duration" min=1 type="number" matInput required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" >

            <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                <mat-label>Start Date</mat-label>
                <input readonly (dateChange)="onChangedStartDate($event)" [(ngModel)]="startdate" formControlName="start_date" matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter.bind(this)" [min]="minDate" [max]="maxDate" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start start" >

            <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                <mat-label>End Date</mat-label>
                <input [(ngModel)]="enddate" formControlName="end_date" matInput readonly>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start start" >
            
            <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                <mat-label>Industry</mat-label>
                <mat-select formControlName="industry" required>
                    <mat-option *ngFor="let row of industries" [value]="row.id">
                        {{row.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" >
            <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                <mat-label>Other Revenue</mat-label>
                <input name="other_revenue" formControlName="other_revenue" matInput required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" >
            <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                <mat-label>Media fees</mat-label>
                <input name="media_fees" formControlName="media_fees" min=1 type="number" matInput required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" >
            <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                <mat-label>Contract</mat-label>
                <input name="contract" formControlName="contract" matInput required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" >
            <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                <mat-label>Source</mat-label>
                <input name="source" formControlName="source" matInput required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" >
            <mat-form-field appearance="outline" fxFlex [formGroup]="_clientdata">
                <mat-label>Company Size</mat-label>
                <input name="company_size" formControlName="company_size" min=1 type="number" matInput required>
            </mat-form-field>
        </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',_client])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(_client)"
                [disabled]="_client.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',clientForm])"
                [disabled]="_client.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
